.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  padding: 25px;
  margin-bottom: 100px;
  border-radius: 18px;
  background-color: antiquewhite;
}

#title {
  font-family: "avenir-next-bold";
  font-size: 2.4rem;
    color: #212121;
}

#thumbnail {
  border: none;
  border-radius: 13px;
  max-height: 250px;
}

#desc {
  font-family: "avenir-next-light";
  word-spacing: 1px;
  line-height: 23px;
  margin: 14px;
  padding: 18px;
  text-align: center;
  font-size: 1rem;
}

.badges {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

#badge {
  max-height: 25px;
}