#portfolio {
  scroll-margin-top: 10px;
}

#project-list-text {
  font-family: "avenir-next-bolder";
  color: aliceblue;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px
}