#portfolio {
  scroll-margin-top: 50px;
}

#project-list-text {
  display: flex;
  justify-content: center;
  font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
  color: rgb(215, 215, 215);
  font-size: 6rem;
}

@media (max-width: 500px) {
  #portfolio {
    max-height: 80%;
    width: 120%;
    scroll-margin-top: 50px;
  }
  #project-list-text {
    font-size: 5rem;
  }

}