#resume {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.download-link {
  color: #a6a7ee;
  font-size: 2rem;
  border: none;
  border-radius: 50px;
  margin-bottom: -100px;
  padding: 14px;
  font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
}

.resume-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 100px;
}

#resume-1, #resume-2 {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.59);
  border-radius: 2.4%;

}

#resume-text {
  font-size: 2.4rem;
  font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
  color: #eaeaea;
}

@media (max-width: 700px) {
  #resume {
    scroll-margin-top: 50px;
  }
  .resume-pages {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #resume-text {
    font-size: 4.4rem;
    font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
    color: #eaeaea;
  }
  .download-link {
    font-size: 3.5rem;
    padding: 60px;
  }
}