#resume {
  scroll-margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.download-link {
  color: #a6a7ee;
  font-size: 2rem;
  border: none;
  border-radius: 50px;
  margin-bottom: -100px;
  padding: 14px;
  font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
  z-index: 0;
}

.resume-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 100px;
  margin-bottom: -900px;
}

#resume-1, #resume-2 {
  margin: 30px;
  margin-bottom: 50px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.59);
  border-radius: 2.4%;
}

#resume-text {
  font-size: 2.4rem;
  font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
  color: #eaeaea;
}

#resume-1:hover, #resume-2:hover {
  transform: scale(2);
  animation: growAnimation 0.354s ease;
}

@keyframes growAnimation {
  from {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  to {
    transform: scale(2);
  }
}

@media (max-width: 850px) {

  #resume {
    scroll-margin-top: 100px;
  }
  .resume-pages {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  #resume-text {
    font-size: 4.4rem;
    font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
    color: #eaeaea;
  }
  .download-link {
    font-size: 4rem;
    padding: 60px;
  }
}
@media screen and (orientation: landscape) {
  #resume {
    scroll-margin-top: 100px
  }
  .download-link {
    font-size: 4rem;
  }
  #resume-text {
    font-size: 4.4rem;
    font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
    color: #eaeaea;
  }
}
@media (max-width: 850px) {

  #resume {
    scroll-margin-top: 90px;
  }
  .resume-pages {
    flex-direction: column;
  }
}
@media (max-width: 850px) and (orientation: landscape) {
  .resume-pages {
    flex-direction: row;
  }

}
