#resume {
  scroll-margin-top: 100px;
  margin-top: 0px;
}

.resume-text-link {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.download-link {
  color: #a6a7ee;
  font-size: 1.4rem;
  border: none;
  border-radius: 50px;
  margin-bottom: -100px;
  padding: 14px;
  font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
  z-index: 0;
}

.resume-pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

#resume-1, #resume-2 {
  height: 400px;
  margin: 30px;
  margin-bottom: 50px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.59);
  border-radius: 2.4%;
}

#resume-text {

  font-size: 2.4rem;
  font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
  color: #eaeaea;
}

#resume-1:hover, #resume-2:hover {
  transform: scale(1.5);
  animation: growAnimation 0.354s ease;
}

@keyframes growAnimation {
  from {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  to {
    transform: scale(1.5);
  }
}

/* -------------------------- */

@media (max-width: 850px) {
  .resume-pages {
    flex-direction: column;
  }

}
@media (max-width: 850px) and (orientation: landscape){
  .resume-pages {
    flex-direction: row;
  }

  #resume-1, #resume-2 {
    height: 300px;
  }

}
