#about {
  scroll-margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  width: 800px;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 15px;
}

h1 {
  font-family: "avenir-next-regular";
  color: #373737;
}

#about-text {
  margin: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "avenir-next-regular";
}

.connect-link-div {
  margin: 40px;
  color: #9596de;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

#connect-link {
  
  font-family: "avenir-next-bold";
  font-size: 1.9rem;
  max-width: 100px;
  margin: 50px;
}
