#nav-el {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(38px);
  -webkit-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.496);
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  color: #cfcfed;
  margin-right: 10px;
  margin-left: 10px;
} 

a:visited {
  color: #cfcfed;;
}
a:hover {
  color: #5bc3fb;
}

@media (max-width: 500px) {
  .nav {
    font-size: 1.2rem;
  }
}