@font-face {
  font-family: "avenir-next-bold";
  src: url(fonts/avenirNext-bold-webfont.woff) format("woff");
  src: url(fonts/avenirNext-bold-webfont.woff2) format("woff2");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "avenir-next-light";
  src: url(fonts/avenirNext-light-webfont.woff) format("woff");
  src: url(fonts/avenirNext-light-webfont.woff2) format("woff2");
  font-weight: light;
  font-style: light;
}
@font-face {
  font-family: "avenir-next-regular";
  src: url(fonts/avenirNext-regular-webfont.woff) format("woff");
  src: url(fonts/avenirNext-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir-next-bolder";
  src: url(fonts/avenirNext-heavy-webfont.woff) format("woff");
  src: url(fonts/avenirNext-heavy-webfont.woff2) format("woff2");
  font-weight: bolder;
  font-style: bolder;
}

body {
  background-color: #1b1b1b;
  background: linear-gradient(45deg, #463030, #4a465b, #4d5c5b, #534658, #275157);
  background-size: 100% 250%;
  animation: gradientAnimation 10s ease infinite;
  -webkit-animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 70%; }
  50% { background-position: 100% 30%; }
  100% { background-position: 0% 80%; }
}
@-webkit-keyframes gradientAnimation {
  0% { background-position: 0% 70%; }
  50% { background-position: 100% 30%; }
  100% { background-position: 0% 80%; }
}
/* ---------------------------------------- */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.all-el {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  transform: scale(0.8);
  transform-origin: top;
}

.profile-and-about {
  display: flex;
  flex-direction: row;
  margin: 50px;
  margin-top: 10%;
  margin-bottom: 10%;
  gap: 80px;
}


.projects-and-resume {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

/* ---------------------------------------- */
@media (max-width: 850px) {
  body {
  background: linear-gradient(45deg, #463030, #4a465b, #4d5c5b, #534658, #275157);
  background-size: 100% 150%;
  }

  .all-el {
    transform: scale(.6);
    align-items: center;
  }

  .profile-and-about {
    flex-flow: column wrap
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  .all-el {
    transform: scale(.7);
  }
  
  .profile-and-about {
    flex-direction: column;

  }

}

@media (max-width: 500px) {
  .all-el {
    transform: scale(.4);
    align-items: center;
  }
  .profile-and-about {
    flex-direction: column;

  }
}