@font-face {
  font-family: "avenir-next-bold";
  src: url(src/assets/fonts/avenirNext-bold-webfont.woff) format("woff");
  src: url(src/assets/fonts/avenirNext-bold-webfont.woff2) format("woff2");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "avenir-next-light";
  src: url(src/assets/fonts/avenirNext-light-webfont.woff) format("woff");
  src: url(src/assets/fonts/avenirNext-light-webfont.woff2) format("woff2");
  font-weight: light;
  font-style: light;
}
@font-face {
  font-family: "avenir-next-regular";
  src: url(src/assets/fonts/avenirNext-regular-webfont.woff) format("woff");
  src: url(src/assets/fonts/avenirNext-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir-next-bolder";
  src: url(src/assets/fonts/avenirNext-heavy-webfont.woff) format("woff");
  src: url(src/assets/fonts/avenirNext-heavy-webfont.woff2) format("woff2");
  font-weight: bolder;
  font-style: bolder;
}

body {
  background-color: #766e63;
}

.all-el {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

