@font-face {
  font-family: "avenir-next-bold";
  src: url(fonts/avenirNext-bold-webfont.woff) format("woff");
  src: url(fonts/avenirNext-bold-webfont.woff2) format("woff2");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "avenir-next-light";
  src: url(fonts/avenirNext-light-webfont.woff) format("woff");
  src: url(fonts/avenirNext-light-webfont.woff2) format("woff2");
  font-weight: light;
  font-style: light;
}
@font-face {
  font-family: "avenir-next-regular";
  src: url(fonts/avenirNext-regular-webfont.woff) format("woff");
  src: url(fonts/avenirNext-regular-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir-next-bolder";
  src: url(fonts/avenirNext-heavy-webfont.woff) format("woff");
  src: url(fonts/avenirNext-heavy-webfont.woff2) format("woff2");
  font-weight: bolder;
  font-style: bolder;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #1b1b1b;
  background-image: linear-gradient(45deg, #463030, #4a465b, #4d5c5b, #534658, #275157);
  background-size: 200%;
  animation: gradientAnimation 10s ease infinite;

}
@keyframes gradientAnimation {
  0% { background-position: 100%; }
  50% { background-position: 0%; }
  100% { background-position: 100%; }
}
@-webkit-keyframes gradientAnimation {
  0% { background-position: 100%; }
  50% { background-position: 0%; }
  100% { background-position: 100%; }
}
/* ---------------------------------------- */


.all-el {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.profile-and-about {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 40px;
  width: 100%;
}

.about-child {
  justify-content: center;
  display: flex;
  align-items: center;
}


.projects-and-resume {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

/* ---------------------------------------- */

@media (max-width: 1250px) {
  .about-child {
    flex-direction: column;
  }
}


@media (max-width: 500px) {
  .profile-and-about {
    flex-direction: column;
  }

}