#home {
  scroll-margin-top: 100px;
  padding: 50px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.59);
  border-radius: 2.4%;
}

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.name {
  font-weight: normal;
  text-align: center;
  font-size: 2.7rem;
  letter-spacing: 7px;
  margin-bottom: -50px;
  margin-top: -50px;

}

#name-text {
  color: #eaeaea;
  font-family: "avenir-next-bold";
}

.brand-statement {
  letter-spacing: 2px;
  font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #eaeaea;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  margin: 50px;
  margin-top: -20px;
  max-height: 350px;
  border-radius: 50%;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  font-family: "avenir-next-light", Arial, Helvetica, sans-serif;
  gap: 50px;
  flex-direction: column;
  color: #9596de;
  
}

a {
  text-decoration: none;
  color: #a6a7ee;
}

a:visited {
  color: #a6a7ee;
}

a:hover {
  color: #ebeaec;
}

#github-link {
  
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}

#email-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}

#linkedin-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}