@font-face {
  font-family: "avenir-next";
  src: url(public/assets/fonts/avenirNext-bold-webfont.woff) format("woff");
  src: url(public/assets/fonts/avenirNext-bold-webfont.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir-next-light";
  src: url(public/assets/fonts/avenirNext-light-webfont.woff) format("woff");
  src: url(public/assets/fonts/avenirNext-light-webfont.woff2) format("woff2");
  font-weight: light;
  font-style: light;
}

#home {
  margin: 50px;
  padding: 50px;
  border: solid red 2px;
  border-radius: 19px;
  margin-top: 100px;
}

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  font-family: "avenir-next";
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  letter-spacing: 7px;
  margin-bottom: -50px;
  margin-top: -50px;
}

.brand-statement {
  font-family: "avenir-next-light";
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  margin: 50px;
  margin-top: -20px;
  max-height: 350px;
  border-radius: 300px;
}

.links {
  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#github-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}

#email-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}

#linkedin-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}